<section class="about d-flex align-items-center">
  <div class="container text-white">
    <h1 class="text-uppercase text-center fw-bold h2 py-3">about component</h1>
    <div class="text-center">
      <div class="line-star"></div>
      <i class="fas fa-star px-3"></i>
      <div class="line-star"></div>
    </div>
    <div class="row g-4 pt-3">
      <div class="col-md-6">
        <div class="about-info">
          <p class="small">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-info">
          <p class="small">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
