<section class="home d-flex align-items-center">
  <div class="container">
    <div class="item text-center text-white w-75 mx-auto">
      <img src="./assets/imgs/avataaars.svg" alt="Home Component Image" />
      <h1 class="text-uppercase fw-bold h2 py-3">start Framework</h1>
      <div class="text-center">
        <div class="line-star"></div>
        <i class="fas fa-star px-3"></i>
        <div class="line-star"></div>
      </div>
      <p class="small pt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
